<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/css/style2.css" />
  </head>
  <body>
    <div class="container">
      <h1>oops!</h1>
      <h2>page not found</h2>
      <p>
        But don’t worry, we’ve got your back! The page you’re looking for might
        have taken a wrong turn, but you’re still in the right place.
      </p>
      <a href="/listings" class="home-button">RETURN TO HOMEPAGE</a>
    </div>

    <footer>
      <div class="footer-content">
        <div class="brand">wanderlust</div>
        <div class="links">
          <a href="#">SUPPORT</a>
          <a href="#">INSTAGRAM</a>
          <a href="#">YOUTUBE</a>
          <a href="#">LINKEDIN</a>
        </div>
        <div class="address">
          <p><strong>Address</strong></p>
          <p>
            WanderLust Pvt. Ltd.<br />
            Ruby Towers, 29 Senapati Bapat Marg<br />
            Dadar - West<br />
            Mumbai, India, 400028<br />
            Email: helpdesk@wanderlust.business
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
